body{
    margin: 0;
    padding: 0;
    background: #ffffff url(images/img1.gif) repeat-x;
    font: normal small sans-serif;
    color: #000000;
}

h1, h2, h3, h4, h5, h6{
    color: #000000;
}

a{
    text-decoration: none;
    color: 825037;
}

a:hover{
    text-decoration: underline;
}

.fa{
    text-align: center;
}


/* header */
.header {
    width: 700px;
    height: 140px;
    margin: 0 auto;
}

.logo{
    float: left;
    padding: 42px 0 0 0;
}

.logo *{
    margin: 0;
    text-decoration: none;
    font-weight: normal;
    color: #000000;
}

.logo h1{
    letter-spacing: -2px;
    font-size: 2.8em;
}
.logo h2{
    margin-top: -5px;
    padding-left: 2px;
    font-size: 1em;
}

.menu{
    float: right;
}

.menu ul{
    margin: 0;
    padding: 69px 0 0 0;
    list-style: none;
}

.menu li{
    display: inline;
}

.menu a{
    display: block;
    float: left;
    height: 22px;
    margin-left: 2px;
    padding: 8px 15px 0 15px;
    background: #eff0eb url(images/img2.gif) repeat-x;
    border: 1px solid #c9ccb9;
    border-bottom: none;
    text-decoration: none;
    color: #000000;
}

.menu .active a, .menu a:hover{
    height: 23px;
    background: #eff0eb;
}

/* Content */
.content{
    width: 700px;
    margin: 0 auto;
}

.colone{
    float: right;
    width: 470px;
}

.colone .title{
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #b9becc;
    font-size: 1.6em;
}

.colone .posted, .colone .meta{
    margin: 0;
    text-align: right;
    font-size: xx-small;
}

.colone .posted{
    margin-top: -13px;
}

.colone .meta{
    border-top: 1px solid #b9c3cc;
}

.coltwo{
    float: left;
    width: 200px;
}

.coltwo #textfield1{
    width: 170px;
}

.coltwo #submit1{
    display: none;
}

.coltwo ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.coltwo li h2{
    margin: 0;
    padding: 0;
    line-height: 100%;
}

.coltwo li h2 span{
    margin: 0;
    padding: 5px 10px;
    background: #4fbeff;
    border-bottom: none;
    text-transform: uppercase;
    font-size: 10px;
}

.coltwo li ul, .coltwo li form{
    margin: 0 0 10px 0;
    padding: 10px;
    border: 1px solid #4fbeff;
}

/* Foter */
.footer{
    width: 700px;
    margin: 0 auto;
    padding: 1em;
    border-top: 1px solid #b9c4cc;
}

.footer p{
    font-size: xx-small;
}

.backgroud{
    background-image: url(images/anime-boy.png);
    background-size: cover;
}
.tengah{
    text-align: center;
}